<div class="player-container">
  <div class="player-cards-container" *ngIf="!player.isOut">
    <div class="cards-container" *ngIf="player?.cards">
      <app-card *ngFor="let card of sortedCard" [card]="card" (click)="onCardClick(card)" [isActive]="true">
      </app-card>
    </div>
    <div class="yaniv-button-container" *ngIf="player.cards">
      <button mat-fab color="accent"
              [disabled]="cardsScore(player.cards) > yanivThreshold || !isCurrentPlayer"
              (click)="onYanivClick()">
        <mat-icon>campaign</mat-icon>
      </button>
      <div class="hand-score">
        <h2>{{cardsScore(player.cards)}}</h2>
      </div>
    </div>
  </div>
</div>
