@import './src/variables';

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-medium;
}

.cards-container {
  display: flex;
  gap: $spacing-small;
  margin: 0 50px;
  width: 310px;
  height: $card-height;
  justify-content: center;
}

.avatar-yaniv-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-left: 100px;
  width: 200px;
}

.yaniv-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hand-score {
  padding: 3px;
  align-items: center;
}

h1, h2 {
  margin: 0 !important;
}
