.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.player-cards-container {
  display: flex;
}

.cards-container {
  display: flex;
  gap: 10px;
  margin: 0 50px;
}
