@import './src/variables';

.avatar-container {
  display: flex;
  flex-direction: column;
  padding: $spacing-small;
  margin: $spacing-small;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 130px;

  h1, h2 {
    margin: 0 !important;
  }
}

.avatar-img {
  border-radius: 70px;
  width: 50px;
  border: 2px solid white;
}

.current-player {
  border: 5px solid yellow;
  box-shadow: 0 0 4px 4px #fefe8c;;
}

.score {
  color: white;
  background-color: darkslategray;
  border-radius: 30px;
  padding: 3px;
  align-items: center;
  border: black solid 1px;
}
