@use './src/variables' as *;

$animation-speed: 200ms;

@keyframes spin {
  0% {
    margin-top: -80px;
    margin-left: -50px;
    transform: rotate(-30deg);
  }
  50% {
    margin-top: 5px;
    margin-left: 10px;
    transform: rotate(5deg);
  }
  100% {
    margin-top: 0;
    margin-left: 0;
    transform: rotate(0deg);
  }
}

.card-container {
  animation: spin 800ms;
  background-color: transparent;
  width: $card-width;
  height: $card-height;
  perspective: 1000px;

  &:not(card-active) {
    cursor: default;
  }

  &.card-active {
    cursor: pointer;

    &:hover {
      transform: rotate(5deg);
      transition: transform $animation-speed;
    }
  }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped .card-inner {
  transform: rotateY(180deg);
}

.card {
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 10px -6px 16px 0px #7d8976;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  position: absolute;
}

.card, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  background-image: linear-gradient(140deg, #050505 0%, #322f6e 50%, #465d8a 75%);
  transform: rotateY(180deg);
}

.card-red {
  color: red;
}

.card-selected {
  margin-top: -$spacing-large;
  transition: margin $animation-speed;
}

:not(card-selected) {
  margin-top: 0;
  transition: margin $animation-speed;
}
