@import './src/variables';

.card {
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  width: $card-width;
  height: $card-height;
  box-shadow: 10px -6px 16px 0px #7d8976;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  cursor: pointer;
}

.card-back {
  background-image: linear-gradient(140deg, #050505 0%, #322f6e 50%, #465d8a 75%);
}

.card-red {
  color: red;
}

.card-selected {
  border-color: black;
}

