@use './src/variables' as *;

$animation-speed: 200ms;

@keyframes spin {
  0% {
    margin-top: -80px;
    margin-left: -50px;
    transform: rotate(-30deg);
  }
  50% {
    margin-top: 5px;
    margin-left: 10px;
    transform: rotate(5deg);
  }
  100% {
    margin-top: 0;
    margin-left: 0;
    transform: rotate(0deg);
  }
}

.card-container {
  animation: spin 800ms;
  background-color: transparent;
  width: $card-width;
  height: $card-height;
  perspective: 1000px;

  &:not(card-active) {
    cursor: default;
  }

  &.card-active {
    cursor: pointer;

    &:hover {
      transform: rotate(5deg);
      transition: transform $animation-speed;
    }
  }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped .card-inner {
  transform: rotateY(180deg);
}

.card {
  box-shadow: 3px -4px 8px 0px #656863;
}

.flipped .card-inner {
  transform: rotateY(180deg);
}

.card, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  &.card-selected {
    outline: 2px solid;
    outline-offset: -2px;
  }
}

.card-back {
  background-image: url('src/assets/back-card.png');
  background-size: cover;
  background-position: center;
  width: $card-width;
  height: $card-height;
  transform: rotateY(180deg);
}

.card-selected {
  margin-top: -$spacing-large;
  transition: margin $animation-speed;
}

:not(card-selected) {
  margin-top: 0;
  transition: margin $animation-speed;
}

.card-svg {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
}

.card-svg text {
  font-family: 'Baloo 2', cursive;
}
