<div class="main-menu-container">
  <img class="logo" alt="logo" src="assets/logo.png">
  <div class="buttons-container">
    <div class="menu-row play-options">
      <button class="btn" type="button" (click)="startGame.emit()">Solo</button>
      <button class="btn" type="button" (click)="playOnline.emit()">Online</button>
    </div>
    <div class="menu-row">
      <button class="btn" type="button" (click)="showSettings.emit()">Settings</button>
    </div>
    <div class="menu-row">
      <a class="btn" href="https://en.wikipedia.org/wiki/Yaniv_(card_game)" target="_blank" rel="noopener">How To Play</a>
    </div>
  </div>
</div>
