<div class="game-container">
  <div class="opponent1-container" *ngIf="opponents.length > 1">
    <app-avatar [player]="opponents[1]" [isCurrentPlayer]="gameState.currentPlayer?.id === opponents[1].id" [timeLeft]="timeLeft"></app-avatar>
    <app-opponent [player]="opponents[1]"
                  [showCards]="gameState.yaniv">
    </app-opponent>
  </div>
  <div class="opponents-center-container">
    <div class="opponent2-container rotated-90" *ngIf="opponents.length">
      <app-opponent [player]="opponents[0]"
                    [showCards]="gameState.yaniv">
      </app-opponent>
      <app-avatar [player]="opponents[0]" [isCurrentPlayer]="gameState.currentPlayer?.id === opponents[0].id" [timeLeft]="timeLeft"></app-avatar>
    </div>
    <div class="pile-deck-container">
      <div class="deck-container" *ngIf="gameState.deck?.length" (click)="makeMove()">
        <app-card *ngFor="let card of gameState.deck.slice(0, 3)" [card]="card" [flipped]="true" class="deck-card"></app-card>
      </div>
      <div class="pile-container" *ngIf="thrownCards?.length">
        <app-card *ngFor="let card of thrownCards" [card]="card" (click)="makeMove(card)">
        </app-card>
      </div>
    </div>
    <div class="opponent3-container rotated-270" *ngIf="opponents.length > 2">
      <app-opponent [player]="opponents[2]"
                    [showCards]="gameState.yaniv">
      </app-opponent>
      <app-avatar [player]="opponents[2]" [isCurrentPlayer]="gameState.currentPlayer?.id === opponents[2].id" [timeLeft]="timeLeft"></app-avatar>
    </div>
  </div>
  <div class="player-container">
    <app-player [player]="player"
                [isCurrentPlayer]="gameState.currentPlayer?.id === player.id"
                [yanivThreshold]="gameState.config.yanivThreshold"
                (yanivClick)="onPlayerCallYaniv()">
    </app-player>
    <app-avatar [player]="player" [isCurrentPlayer]="gameState.currentPlayer?.id === player.id" [timeLeft]="timeLeft"></app-avatar>
  </div>
</div>
