@import './src/variables';

.game-container {
  height: 960px;
  background-image: radial-gradient(#89c189 30%, #408940 70%);
  padding: $spacing-medium;
}

.top-container {
  height: 50px;
  width: 100%;
}

.pile-deck-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-large;
  align-items: center;
  justify-content: center;
}

.pile-container {
  width: 170px;
  display: flex;
  gap: $spacing-small;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.opponents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: $spacing-medium;
}

.opponent-top-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 290px;
}

.opponent-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: -220px;
  width: 200px;
}

.opponents-center-container {
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 650px;
}

.player-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 530px;
  height: 280px;
}

.deck-container {
  display: flex;
  width: 80px;
  height: 110px;
  justify-content: center;
  align-items: center;
}

.deck-card {
  margin: -33px;
}

.pile-card {
  margin: -15px;
}

.rotated-90 {
  transform: rotate(90deg);
}

.rotated-180 {
  transform: rotate(180deg);
}

.rotated-270 {
  transform: rotate(270deg);
}
