@import '../common/style.less';

.deck-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  justify-content: space-evenly;
}

.opponent1-container {
  display: flex;
  justify-content: center;
}

.opponents-center-container {
  width: 700px;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-container {
  display: flex;
  justify-content: center;
}
