.game-container {
  margin: 0 50px;
}

.deck-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  justify-content: space-evenly;

  img {
    width: 100px;
    height: 140px;
  }
}
