@import '../common/style.less';

.game-container {
  height: 900px;
}

.deck-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.stack-container {
  width: 310px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.opponent1-container {
  display: flex;
  justify-content: center;
}

.opponents-center-container {
  height: 330px;
  display: flex;
  align-items: center;
  gap: 24px;
  width: 750px;
  justify-content: center;
}

.player-container {
  display: flex;
  justify-content: center;
}

.deck {
  cursor: pointer;
}
