<div class="game-container">
  <div class="opponent1-container">
    <app-opponent *ngIf="opponents.length > 1" [player]="game.players[2]"></app-opponent>
  </div>
  <div class="opponents-center-container">
    <div class="opponent2-container rotated-90">
      <app-opponent *ngIf="opponents.length" [player]="game.players[1]"></app-opponent>
    </div>
    <div class="deck-container">
      <div class="deck card card-back" *ngIf="game.deckNumberOfCards" (click)="makeMove()"></div>
      <div class="stack-container" *ngIf="game.thrownCards.length">
        <app-card *ngFor="let card of game.thrownCards" [card]="card" (click)="makeMove(card)">
        </app-card>
      </div>
    </div>
    <div class="opponent3-container rotated-270">
      <app-opponent *ngIf="opponents.length > 2" [player]="game.players[3]"></app-opponent>
    </div>
  </div>
  <div class="player-container">
    <app-player [player]="player" [yanivThreshold]="game.config.yanivThreshold" (yanivClick)="onPlayerCallYaniv(player)"></app-player>
  </div>
</div>
