<div class="app-container">
  <ng-template [ngIf]="gameState" [ngIfElse]="gameNotRunningTemplate">
    <app-game [gameState]="gameState" [player]="player"></app-game>
  </ng-template>
  <ng-template #gameNotRunningTemplate>
    <app-menu
      (startGame)="startGame()"
      (showSettings)="showSettings()"
    ></app-menu>
  </ng-template>
</div>
<app-settings
  *ngIf="settingsVisible"
  [gameConfig]="gameSettings"
  (settingsChanged)="updateSettings($event)"
  (close)="handleSettingsClose()">
</app-settings>
