<div class="opponent-container"
     [ngClass]="{'current-player': isCurrentPlayer}">
  <div class="cards-container" *ngIf="!player.isOut">
    <ng-template [ngIf]="showCards" [ngIfElse]="backOfCards">
      <app-cards *ngIf="player.cards" [cards]="player.cards"></app-cards>
    </ng-template>
    <ng-template #backOfCards>
      <div class="card card-back" *ngFor="let card of player.cards;">
      </div>
    </ng-template>
  </div>
  <div class="opponent-header">
    <h2>{{player.name}}</h2>
    <h1>{{player.totalScore}}</h1>
  </div>
</div>
