<div [class]="'opponent-container ' + opponentClass">
  <app-avatar [player]="player"
              [isCurrentPlayer]="isCurrentPlayer">
  </app-avatar>
  <ng-template [ngIf]="!player.isOut && player?.cards">
    <div [class]="'opponent-cards-container ' + cardsClass">
      <app-card *ngFor="let card of sortedCard" class="opponent-card" [card]="card" [flipped]="!showCards">
      </app-card>
    </div>
    <div class="hand-score" *ngIf="showCards">
      <h2>{{cardsScore(player.cards)}}</h2>
    </div>
  </ng-template>
</div>
