.opponent-container {
  width: 310px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opponent-cards-container {
  display: flex;
  flex-direction: row;
  height: 110px;
  align-items: center;
}

.hand-score {
  padding: 3px;
  align-items: center;
}

.opponent-card {
  margin-left: -15px;
  margin-right: -15px;
}
