@import '../common/style.less';

.opponent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opponent-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
